* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #b0abd6;
}
#header-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 5px solid rgb(96, 96, 146);
    padding: 1rem;
}
#header-container > div > a {
    color: #0c2b70;
    text-decoration: none;
    font-size: 1.5rem;
}
#links {
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: space-between;   
}
#profile {
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: end;
}
#profile > button {
    max-width: 8%;
    border-radius: 50%;
    background-color: white;
    padding: 1%;
}
#cart-count {
    background-color: #eaeef7;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 4%;
}
.profile-icon {
    max-width: 1.5rem;
}
#input {
    font-size: 1rem;
    padding: 1rem;
}
#searchBtn {
    max-width: 20%;
    border: none;
}
#searchImg {
    max-height: 45px;
}
#search-div {
    display: flex;
}
#category {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
#category > button{
    background-color: hsl(187, 20%, 91%);
    color: rgb(49, 58, 59);
    font-size: 20px;
    border: 1px solid #21191d;
    padding: 10px;
    
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.933);
    gap: 1rem;
    max-width: 20%;
    margin: 1rem;
    padding: 1rem;
    word-wrap: break-word;
}
.pink {
    color:  #b12b6b;
}
#image {
    width: 100%;
    height: 100%;
}
#add-to-cart{
    background-color: #4a74c2;
    color: white;
    min-height: 1rem;
    font-size: 1rem;
    padding: 1rem;
}
#card-and-cart {
    display: flex;
    justify-content: space-between;
}
#cart-container {
    background-color: white;
    height: 20%;
    margin: 1rem;
    min-width: 20%;
    max-width: 10rem;
    max-height: 10rem;
}
#my-cart { 
    background-color: #4f74c5;
    padding: 1rem;
    color: white;
}
#empty-txt {
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    padding: 1rem;
}
#border-line {
    border-bottom: 2px solid #0c2b70;
}
#footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#footer > div {
    font-style: italic;
    font-weight: bold;
}